# sqlnet.ora – Managed by Ansible
NAMES.DEFAULT_DOMAIN = {{ oracle_domain }}

NAMES.DIRECTORY_PATH= (TNSNAMES,LDAP)
DIAG_SIGHANDLER_ENABLED = FALSE
ADR_BASE = {{ oracle_base }}
DIAG_ADR_ENABLED = ON
DEFAULT_SDU_SIZE = 8761
SQLNET.AUTHENTICATION_SERVICES = (TCPS,TCP,BEQ)
SSL_VERSION=1.2
#SSL_CIPHER_SUITES=(SSL_RSA_WITH_AES_256_CBC_SHA,SSL_RSA_WITH_AES_128_CBC_SHA,SSL_RSA_WITH_AES_256_GCM_SHA384,SSL_RSA_WITH_3DES_EDE_CBC_SHA)

#Wallet for TDE
ENCRYPTION_WALLET_LOCATION=
 (SOURCE=
  (METHOD=FILE)
   (METHOD_DATA=
    (DIRECTORY=/etc/ORACLE/WALLETS/$ORACLE_SID/)
   )
 )

#Wallet for SSL
WALLET_LOCATION=
 (SOURCE=
  (METHOD=FILE)
   (METHOD_DATA=
    (DIRECTORY=/app/oracle/common/tns/wallet/${ORACLE_SID}/)
   )
 )

#probe every 9 minutes to verify connection is still active
SQLNET.EXPIRE_TIME=15

#time in seconds to allow client to connect and provide required authentication information
SQLNET.INBOUND_CONNECT_TIMEOUT=180

#uncomment if application doesn't provide DoD Banner
#SEC_USER_UNAUTHORIZED_ACCESS_BANNER = /app/oracle/common/tns/DoDBanner.txt
#SEC_USER_AUDIT_ACTION_BANNER = /app/oracle/common/tns/DoDBanner.txt

SQLNET.ALLOWED_LOGON_VERSION_SERVER = 12
SQLNET.CRYPTO_SEED = 'bf712ac1013c9bc3f88fdec31d915395b44bedebb35c86347c9053a192994f86'
SQLNET.ENCRYPTION_SERVER = accepted
SQLNET.CRYPTO_CHECKSUM_SERVER = accepted
SQLNET.CRYPTO_CHECKSUM_TYPES_SERVER= (SHA384)
SQLNET.ENCRYPTION_TYPES_SERVER= (AES256)
SQLNET.FIPS_140=TRUE