[defaults]
roles_path = ./ansible/roles
inventory = ./ansible/inventories/hosts.yml
remote_tmp = /app/ansible/
host_key_checking = false
callbacks_enabled = stig_xml, timer, unixy, profile_tasks
pipelining = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true

